/* Це універсальна сторінка шаблон продкутів(товарів). Тут підключаємо css секцій */
@import url(reset.css);
@import url(global.css);

/* Global Header | Yehor Honcharenko */
@import url(sections/global.header.css);
/* Назва секції | Ім'я Прізвище */

/* Назва секції | Ім'я Прізвище */
