.companies-carousel{
    padding: 50px 0;
    background-color: #f2f2f2;

    .companies-carousel__inner{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        min-height: 200px;
    }
    .companies-carousel__slides{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .companies-carousel__btn-prev, .companies-carousel__btn-next {
        display: block;
        cursor: pointer;
        background-color: var(--speakers__catalog-next-prev-bg-gallery-buttons);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: var(--speakers-carousel__btn-text-color);
        font-size: 25px;
        border: none;
    }
}