.companies-carousel{
    padding: 50px 0;
    background-color: #f2f2f2;

    .companies-carousel__container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 24px;
    }
    .companies-carousel__slide{
        display: flex;
        margin: 0 15px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .companies-carousel__btn-prev, .companies-carousel__btn-next {
        display: block;
        cursor: pointer;
        background-color: var(--speakers__catalog-next-prev-bg-gallery-buttons);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: var(--speakers-carousel__btn-text-color);
        font-size: 25px;
    }
}