/*@media (min-width: 320px ){
    .general-selection-info {
        box-sizing: border-box;
        display:flex;
        flex-direction: ;
    }
}*/
.general-selection-info {
    display: flex;
    flex-direction: column;
}

.general-selection-info__image {
    box-sizing: block;
    max-height: 192px;
    object-position: 50%;
    overflow: hidden;
}

.general-selection-info__description {
    margin: 0%;
    padding: 100px 30px 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--description-bg-color);
}

.description__text-title {
    color: var(--description-text-title-color);
    font-family: "Heebo" sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
}

.description__sound-icon {
    height: 32px;
    justify-items: left;
}

.sound-icon-img {
    display: block;
    width: 55px;
    height: 32px;
}

.description__text-discover {
    color: var(--description-text-discover-color);
    font-family: "PT Sans", sans-serif;
    font-size: 19px;    
}

.description__text-basside {
    color: var(--description-text-baside-color);
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
}

.general-selection-info__menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 30px 90px;
    background-color: var(--description-bg-color);
}

.menu__headphones,    
.menu__loudspeakers,
.menu__wireless-connection {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.menu__headphones-icon,
.menu__loudspeakers-icon,
.menu__wireless-connection-icon {
    display: flex;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color:var(--menu-icons-bg-color);
    align-items: center;
    justify-content: center;
}

.menu__headphones-icon img,
.menu__loudspeakers-icon img,
.menu__wireless-connection-icon img{
    width: 26px;
    height: 26px;
    color: var(--menu-icons-img-color)
}

.menu__headphones-text-container
.menu__loudspeakers-text-container,
.menu__wireless-connection-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
}

.menu__headphones-text-title, 
.menu__loudspeakers-text-title,
.menu__wireless-connection-text-title {
    display: flex;
}

.menu__headphones-text-title h3,
.menu__loudspeakers-text-title h3,
.menu__wireless-connection-text-title h3{
    color: var (--menu-text-color);
    font-family: "Heebo", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.menu__headphones-text,
.menu__loudspeakers-text,
.menu__wireless-connection-text {
    display: flex;
    color: var(--menu-text-color);
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 25px;
}