.general-selection-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--description-bg-color);
  margin-top: 90px;
  @media (min-width: 769px ){
    flex-direction: row;
    }
}
.general-selection-info__image-container{
  position: relative;
  width: 100%;
  aspect-ratio: 1.66/1;
  @media (min-width: 769px ){
    width: 50%;
  }
}
.general-selection-info__image-wraper{
  position: absolute;
  height: 100%;
  overflow: hidden;
  @media (min-width: 769px ){
    width: 100%;
  }
}
.general-selection-info__image img{
  width: 100%;
  object-fit: contain;
  @media (min-width: 769px ){
    position: absolute;
    object-fit: cover;
    min-height: 100%;
  }
}
.general-selection-info__wrapper {
  box-sizing: border-box;
  padding: 100px 30px;
  gap: 50px;
  @media (min-width: 769px ){
    width: 50%;
    }
}
.general-selection-info__description {
  margin: 0%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (min-width: 769px) {
    flex: 1 1 0;
    }
}
.description__text-title h2 {
  color: var(--description-text-title-color);
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
}
.description__sound-icon {
  height: 32px;
  justify-items: left;
}
.sound-icon-img {
  display: block;
  width: 55px;
  height: 32px;
}
.description__text-discover {
  color: var(--description-text-discover-color);
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
}
.description__text-basside {
  color: var(--description-text-baside-color);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
}
.general-selection-info__menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: var(--description-bg-color);
}
.general-selection-info__menu {
  display: flex;
  flex-direction: column;
}
.menu__headphones,
.menu__loudspeakers,
.menu__wireless-connection {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.menu__headphones-icon-wraper,
.menu__loudspeakers-icon-wraper,
.menu__wireless-connection-icon-wraper {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
.menu__headphones-icon,
.menu__loudspeakers-icon,
.menu__wireless-connection-icon {
  display: flex;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--menu-icons-bg-color);
  color:var(--menu-icons-img-color) ;
  align-items: center;
  justify-content: center;
  @media (min-width: 769px) {   
    min-width: 70px;
    height: 70px;
    }
}
.menu__headphones-icon img,
.menu__loudspeakers-icon img,
.menu__wireless-connection-icon img {
  width: 26px;
  height: 26px;
  
  @media (min-width: 769px) {   
    min-width: 40px;
    height: 40px;
    }
}
.menu__headphones-text-container,
.menu__loudspeakers-text-container,
.menu__wireless-connection-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10px;
}
.menu__headphones-text-title,
.menu__loudspeakers-text-title,
.menu__wireless-connection-text-title {
  display: flex;
}
.menu__headphones-text-title h3,
.menu__loudspeakers-text-title h3,
.menu__wireless-connection-text-title h3 {
  color: var (--menu-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.menu__headphones-text,
.menu__loudspeakers-text,
.menu__wireless-connection-text {
  color: var(--menu-text-color);
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 27.2px;
  text-align: left;
}