/*@media (min-width: 320px ){
    .general-selection-info {
        box-sizing: border-box;
        display:flex;
        flex-direction: ;
    }
}*/
.general-selection-info {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.general-selection-info__image {
    box-sizing: block;
    max-height: 192px;
    min-width: fit-content;
    object-position: 50%;
    overflow: hidden;
}

.general-selection-info__description {
    box-sizing: border-box;
    margin: 0%;
    padding: 100px 30px 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F2F2F2;
}

.description__text-name h2 {
    color: #2f2f2f;
    font-family: "Heebo" sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
}

.description__sound-icon {
    height: 32px;
    justify-items: left;
}

.sound-icon-img {
    display: block;
    width: 55px;
    height: 32px;
}

.description__text-discover p {
    color: #3B3B3B;
    font-family: "PT Sans", sans-serif;
    font-size: 19px;
    width: 233px;
}

.description__text-basside p {
    color: #6C6C6C;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
}

.general-selection-info__menu {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0px 25px 0px;
    background-color: #F2F2F2;
}

.menu__headphones {
    display: flex;
    flex-direction: row;
}

.menu__headphones-text-conteiner {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu__headphones-icon {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.menu__headphones-icon img {
    width: 26px;
    height: 26px;
}
.menu__headphones-text-name {
    padding-left: 10px;
}
    
.menu__headphones-text-name h3 {
    color: #2A2A2A;
    font-size: 22px;
    font-weight: 700;
}

.menu__headphones-text p {
    width: 195px;
    color: #2A2A2A;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 25px;
}

.menu__loudspeakers {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.menu__loudspeakers-icon {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.menu__loudspeakers-icon img {
    width: 26px;
    height: 26px;
}

.menu__loudspeakers-text-conteiner {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.menu__loudspeakers-text-name h3 {
    color: #2A2A2A;
    font-family: "Heebo" sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
}

.menu__loudspeakers-text p {
    width: 195px;
    color: #2A2A2A;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 25px;
}

.menu__wireless-connection {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.menu__wireless-connection-icon {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.menu__wireless-connection-icon img {
    width: 26px;
    height: 26px;
}

.menu__wireless-connection-text-conteiner {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.menu__wireless-connection-text-name h3 {
    color: #2A2A2A;
    font-family: "Heebo" sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
}

.menu__wireless-connection-text p {
    width: 195px;
    color: #2A2A2A;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 25px;
}