.footer {
  background-color: #2a2a2a;
  color: white;
  padding: 80px;
  font-family: arial;
}
.footer-part1 a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.footer-part2 a{
  text-decoration: none;
  color: #b5adad	;
}
.footer-part2 ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer a:hover{
  color: inherit;
  text-decoration: underline;
}
.logo-white{
  width: 160px;
  height: 100px;
}
.footer-part1{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-part2{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 50px;
}
.text1{
  color: yellow;
}
.line{
  border-color: yellow;
  background-color: yellow;
  width: 20px;
  height: 2px;
  float: left;
}
.footer-block1{
  flex: 1;
  min-width: 160px;
}
.footer-block2{
  flex: 1;
  max-width: 160px;
}
.footer-imput{
  flex: 1;
  min-width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-ul{
  font-size: 25px;
  font-weight: bold;
}
.footer-part1 input{
  background-color: #474545;
  padding: 20px;
  border: none;
  height: 40%;
  width: 90%;
  box-sizing: border-box;
}
.footer-part1 button{
  background-color: #1369d2;
  color: white;
  padding: 20px;
  border: none;
  height: 40%;
  width: 90%;
  box-sizing: border-box;
}
.footer-part1 button:hover{
  background-color: white;
  color: black;
}
.footer-logo{
  padding-bottom: 20px;
}