.footer {
  background-color: #2a2a2a;
  color: white;
  padding: 80px;
  font-family: Arial;
}

.footer-part1 a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.footer-part2 a {
  text-decoration: none;
  color: #b5adad;
}

.footer-part2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.footer-part2 ul li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-part2 ul li a {
  color: #b5adad;
  text-decoration: none;
}

.footer-part2 ul li a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid yellow;
  margin-top: 30px;
}

.footer-part2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 50px;
}

.footer-block1 {
  flex: 1;
  min-width: 160px;
}

.footer-block2 {
  flex: 1;
  max-width: 160px;
}

.footer-input {
  flex: 1;
  min-width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-ul {
  font-size: 25px;
  font-weight: bold;
}

.footer-part1 input {
  background-color: #474545;
  color: white;
  padding: 20px;
  border: none;
  height: 40%;
  width: 90%;
  box-sizing: border-box;
}

.footer-part1 input:focus {
  border: 2px solid yellow;
  transition: border-color;
}

.footer-part1 button {
  background-color: #1369d2;
  color: white;
  padding: 20px;
  border: none;
  height: 40%;
  width: 90%;
  box-sizing: border-box;
}

.footer-part1 button:hover {
  background-color: white;
  color: black;
}

.footer-logo {
  padding-bottom: 20px;
}

.container-input {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.error-message {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 100%;
  min-width: 80%;
  padding: 5px;
  margin-left: 15px;
  background: grey;
  border: 1px solid black;
  text-align: center;
  display: none;
  opacity: 1;
}

.error-message.active {
  display: block;
}

.popup {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  color: white;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.closePopupBtn {
  background-color: yellow;
  color: black;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closePopupBtn:hover {
  background-color: #f3c200;
}
