.jbl-speaker {
    background-image: url('../../assets/images/img-general-info/svg/jbl-speaker-background.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.jbl-speaker__container {
    max-width: 1200px;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    color: var(--color-white);
}

.jbl-speaker__content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.jbl-speaker__image-container {
    max-width: 50%;
    justify-content: center;
}

.jbl-speaker__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.jbl-speaker__title {
    font-size: 60px;
    font-weight: bold;
}

.jbl-speaker__details-list {
    list-style: none;
    padding: 0;
    margin-top: 25px
}

.jbl-speaker__details-item {
    padding-top: calc(30px / 4);
    padding-bottom: calc(30px / 4);
}

.jbl-speaker__details-label {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
}

.jbl-speaker__details-value,
.jbl-speaker__details-description {
    font-size: 17px;
    color: var(--color-transparent-white);
    line-height: 1.6;
}

.jbl-speaker__price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.jbl-speaker__price-value {
    font-size: 28px;
}

.jbl-speaker__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
    margin-top: 40px;
}

.jbl-speaker__buy-now,
.jbl-speaker__more-models {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
    overflow: visible;
    cursor: pointer;

    transition: color .2s ease-in, background-color .2s ease-in, border-color .2s ease-in, box-shadow .2s ease-in;
    transition-behavior: normal, normal, normal, normal;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in, ease-in, ease-in, ease-in;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;

    word-wrap: break-word;

    padding: 23px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--color-white);
    margin: 5px;
    border-radius: 3px;
    border: none;

    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.jbl-speaker__buy-now {
    background-color: var(--color-blue);
}

.jbl-speaker__buy-now:hover {
    background-color: var(--color-black);
}

.jbl-speaker__more-models {
    background-color: var(--color-black);
}

.jbl-speaker__more-models:hover {
    background-color: var(--color-blue);
}

.jbl-speaker__more-models {
    width: 166px;
    height: 65px;
    text-align: center;
}

.jbl-speaker__buy-now {
    width: 129px;
    height: 65px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 991px) {
    .jbl-speaker__container {
        flex-direction: column;
    }

    .jbl-speaker__content,
    .jbl-speaker__image-container {
        max-width: 100%;
    }

    .jbl-speaker__actions {
        flex-direction: column;
    }
}

@media (min-width: 364px) {
    .jbl-speaker__actions {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jbl-speaker__actions {
        flex-direction: column;
        text-align: left;
    }
}