.product-tabs__container {
  min-width: 320px;
  max-width: 991px;
  margin: 0 auto;
  padding: 0 12px;

  .product-tabs ul {
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    color: grey;

    li {
      padding: 15px 20px;
    }

    li:hover {
      cursor: pointer;
    }

    li.active-tab {
      display: block;
      color: black;
      border-bottom: 3px solid rgb(255, 0, 98);
    }
  }

  .product-cards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    min-height: 100vh;
    gap: 30px;
    padding-top: 30px;

    .product-card {
      max-width: 411px;
      width: 100%;
      outline: 2px solid lightblue;
      border-radius: 1px;
      padding: 15px;
      padding: 34px 31px;

      .product-text-info {
        font-size: 1.2rem;
        a.link-to-product-page {
          text-decoration: none;
        }
      }

      .product-card-text-info__price {
        font-weight: bold;
        color: #2877b6;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
