.video {
    min-height: 550px;
    background-image: url(../../assets/images/video/video-banner-background.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: #fff;
    padding: 20px;
}
.video__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.video__content-titel {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}
.video__content-text {
    font-size: 1.2rem;
    font-weight: 400;
}
.video__content-inner {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.video__content-icon {
    height:100px;
    width: 100px;
}

@media (min-width: 479px) {
    .video {
        height: 585px;
    }
}

@media (min-width: 767px) {
    .video {
        height: 763px;
    }
}

@media (min-width: 991px) {
    .video {
        height: 900px;
    }
}
@media (max-width: 768px) {
    .video {
      grid-template-columns: 1fr;
    }
    .video__content {
        align-items: center;
      }
    .video__content-titel {
      font-size: 2.5rem;
    }
  }