@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root{
  --fearures-svg-color:var(#2877b6)
  --features-svg-bg-color:var(#f2f2f2)
}

.features__container {
  min-width: 320px;
  max-width: 991px;
  margin: auto;
  padding: 0 12px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .features__card {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .features__img-container {
      min-width: 70px;
      min-height: 70px;
      color: var(--fearures-svg-color);
      padding: 15px;
      background-color: var(--features-svg-bg-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .features__text-container {
      font-family: "PT Sans", sans-serif;
      margin: 15px;

      .features__title-container {
        font-weight: 700;
        font-size: 1.375rem;
      }

      .features__description-container {
        font-weight: 400;
      }
    }
  }
}
