/* Global styles for all pages (index, product etc.)  */
:root {
    scroll-behavior: smooth;
    /* features section variables | Andrii Ferenchuk */
    --fearures-svg-color: #2877b6;
    --features-svg-bg-color: #f2f2f2;
    /* end of features section */

    /* products-tabs section variables | Andrii Ferenchuk */
    --products-tabs-ul-color: #808080;
    --products-tabs-active-tab-bottom-color: #d4561b;
    --products-tabs-product-card-outline-color:#add8e6;
    --products-tabs-product-card-add-to-cart-text-color:#ffffff;
    --products-tabs-product-card-add-to-cart-bg-color:#000000;
    --products-tabs-product-card-price-text-color:2877b6;
    /* end of products-tabs section */
    
    /*headphones section */
    --headphones-color-blue: #2877b6;
    --headphones-color-orange: #eb5112;
    --headphones-color-yelow: #f3cb1f;
    --headphones-color-gray: #85858e;
    /* end of headphones section */
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Heebo", sans-serif;
}

p,
a,
li,
span {
    font-family: "PT Sans", sans-serif;
}
