* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    text-align: center;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
}

.swiper-container {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px 0;
}

/* Стиль для слайдів */
.swiper-slide {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 3px solid #f2f2f2;
    padding: 20px;
    background-color: #fff;
}

.swiper-slide img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    display: block;
}

.swiper-button-next { 
    background-color: white;
    display: flex;
    width: 100%;
    max-width: 500px;
}

.price {
    text-align: center;
}

.nav_item {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.button {
    display: block; 
    width: 80%;
    max-width: 200px;
    background-color: #eb5112;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto; 
    text-align: center;
}

.button:hover {
    background-color: gray;
}

.borders-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.borders-info {
    max-width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

    

