@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.product-tabs__container {
    min-width: 320px;
    max-width: 991px;
    margin: 0 auto;
    padding: 0 12px;
    


    .product-tabs ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
            padding: 15px 20px;

        }

        li.active-tab {
            border-bottom: 3px solid orangered !important;
            background-color: blue;
        }
    }

    .product-cards{
        
        .product-card{
            max-width: 411px;
            outline: 2px solid lightblue;
            border-radius: 5px;
            margin: 30px 15px;            
            padding: 15px;
            
        }
    }
}

